* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Nav bar additional setting */


.red {
  background-color: #e5042a;
  color: black;
}

.blue {
  background-color: #275db3;
  color: whitesmoke;
}

.home {
  background-color: darkkhaki;
  color: rgba(67, 60, 60, 0.547);
}

.footer {
  font-size: 20px;
  position: sticky;
  width: 100vw;
  bottom: 0;
  background-color: black;
  padding: 20px; 
  text-align: center; 
  white-space: nowrap;
}
 .footer a{
  margin-right: 20px;
 }


